<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
{{!-- add css links --}}
{{!-- add bootstrap --}}
</head>

<body>
  <header class="">
    <h1>
      Tech Blog
    </h1>

    {{#if logged_in}}
    <nav>
      <button class="" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="">
    {{{ body }}}
  </main>
  <footer>
  </footer>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  {{!-- add bootstrap script --}}
</body>

</html>