{{!-- landing page, shows all blogposts --}}

{{#each posts as |blogpost|}}
<div class ="row mb-4">
    <div class = "col md-5">
        <h2>
            {{!-- make into a link to the individual blogpost after testing --}}
            {{blogpost.title}}
        </h2>
        <p>
            {{blogpost.post_text}}
        </p>
        <p>
            {{blogpost.user.username}}
            {{format_date blogpost.date_created}}
        </p>
    </div>
</div>
{{/each}}