<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>
<form class="new-post-form">
  <div class="form-group">
    <label for="blog-title">Title</label>
    <input type="text" class="form-control" id="blog-title" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="blog-content">Contents</label>
    <input type="text" class="form-control" id="blog-content" placeholder="Enter Contents">
  </div>
  <button type="submit" class="btn btn-primary" id="new-blogpost">Submit</button>
</form>

<script src="/js/newpost.js"></script>